<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="static/js/marked.js"></script>
    <script type="text/javascript" src="static/js/editor.js"></script>

    <style type="text/css">
    textarea {font-size: 30; font-family: sans-serif;}
    </style>
    <link rel="stylesheet" href="static/css/signin.css">

  </head>
  <body>
    <div class="container">
      <div class="row">
        <a href="diaries_list">Diary List</a>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <textarea class="editor" id="editor" class="form-control" rows="30" cols="150">{{diary.body}}</textarea>
        </div>
        <div class="col-xs-6">
          <div class="markdown" id="markdown"></div>
        </div>
      </div>
    </div>
  </body>
</html>
